/*généralité*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}



ol, ul {
	list-style-type: none;
}

body * {
	box-sizing: border-box;
  
}


html {
	font-size: 62.5%;  
}

img, video {
	max-width: 100%;
}

body  {
    font-family: "Raleway", sans-serif;
    background: #0c0d11;
    color: #f5f5f5;
    line-height: 1.5;
	  font-size: 1.8rem;

}

h1, h2{
  font-family: "Athiti", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 1em 0em;
  height: 100%;
}

h1 {
  font-size: 3.5rem;
  
  
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  font-family: "Athiti", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1em 0em;
  height: 100%;
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}


/*header*/

.nav-header {
  font-size: 3.5rem;
  color: #0c0d11;
  background-color: #a8b0c4;
  transition: all .7s;
  padding:1rem 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  transition: all .7s;
}

.nav-header:hover {
  color: #f5f5f5;
  background-color: #2e345d;
}


.menu {
  position:sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 1px 1px 25px rgba(0,0,0,0.07);
  display: none;
  
}

.menu-container {
  display: flex;
  align-items: center;
  margin-inline: auto;
  width: 100%;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}





.menu-liste a {
  color: black ;
  padding: 1rem 2rem;
  
  
}

.mobile-menu {
  width: 100%;
  position: sticky;
  top:0;
  z-index: 9999;
  padding: 1em 2em;
  display: flex;
  align-items: center;
}

.material-icons {
  cursor: pointer;
}

nav ul a {
  background-color: #a8b0c4;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  margin: 0.5rem 0;
  text-align: center;
  transition: all .7s;
}

nav ul a:hover {
  background-color: #2e345d;
  color: #f5f5f5;
  border-radius: 5px;
}








/*main*/ 

main.container {
	padding: 2rem;
}

/*introduction*/

#Navigation1 p {
  text-align: justify;
}

#Navigation1 span {
  text-transform: uppercase;
  color: #a8b0c4;
}



.photo {
  border-radius: 50%;
  border: 3px ridge #411414;
  width: 100%;
}


/*skills*/



.competence {
  max-width: 100%;
  padding: 1.5em;
  border: 1px solid #411414;;
  border-radius: 5px;
  
}

.competence li {
  padding: 1em 1em;
}

.competence ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.competence li {
  flex-basis: 33%; /* pour avoir 3 colonnes */
  text-align: center;
  margin: 1em;
}

.competence img {
  display: inline-block;
  vertical-align: middle;
  
  height: auto;
  margin: 0 auto;
}

.logo {
  transition: filter 0.4s;
}

.logo:hover {
  filter: brightness(1.5);
}

.logo-name {
  
  color: #f5f5f5;
  font-size: 1.2rem;
}

.competence li:hover .logo-name {
  visibility: visible;
  
}

/*projet*/

.carousel {
  position: relative;
  width: 80%;
  margin: 40px auto;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.project {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease-in-out;
  
  
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.carousel-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.prev, .next {
  background-color:  #a8b0c4;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em 2em;
 cursor: pointer;
 transition: all .7s;
}

.prev:hover, .next:hover {
  background-color: #2e345d;
  color: #f5f5f5 ;
}

.project p {
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  padding: 1em 2em;
  margin: 1em 0;
  background-color:#2e345d ;
  color: #f5f5f5;
  border-radius: 5px;
  transition: 0.7s all;
}

.project p:hover {
  background-color: #411414;
  
}






/*contact*/

.section-contact h2 {
  color: #a5b4fc;
  text-align: center;
  margin-bottom: 50px;
}

footer {
  text-align: center;
}



.message {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  padding: 2em 1em;
  margin-top: 2em;
  cursor: pointer;
  background-color: #2e345d;
  color: #f5f5f5;
  border-radius: 5px;
  transition: transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.message:hover {
  background-color: #a8b0c4;
  color: black;
  transform: translateY(-2px);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);

}

/*footer*/

.navigation-footer a{
  padding: 1em 0em;
  background-color: #a8b0c4;
  color: #0c0d11;
  transition: all .7s;
  display: block;
}


.navigation-footer a:hover {
background-color: #2e345d;
color: #f5f5f5;


}
.social-links a {

color: #0c0d11;
transition: all .7s;
border: 1px solid black;
}

.social-links a:hover {
color: #f5f5f5;
}

.social-links {
font-size: 1em;
}

.navigation-footer a{
border: 1px solid black;

}
.fa-linkedin,
.fa-github {
  font-size: 2em;
}


/* Media queries pour desktop */


@media screen and (min-width: 1100px) {
      .container {
        max-width: 1400px;
        margin: 0 auto;
      }

      header, 
	    main ,
	    footer {
		padding: 2rem 5rem;
	    }

      h1 {
        font-size: 4rem;
        margin-bottom: 20px;
      }
      h2 {
        font-size: 3rem;
        margin-bottom: 20px;
      }
      p {
        font-size: 2rem;
      }
      h3 {
        font-size: 2rem;
        margin-bottom: 20px;
      }
      
      .menu-container {
        display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 10vh;
      }

      .menu-liste {
        display: flex;
        flex-direction: row;
        gap: 5rem;
      }
      #toggler {
        font-size: 6rem;
      }
      h1 {
        text-align: left;
        margin-bottom: -130px;
      }
      .float {
        
        margin-bottom: 4em;
      }
      
      .float img {
        
        max-width: 40%;
        
        height: 50%;
      }
      
      .flex {
        display: flex;
        justify-content: space-around;
        align-items: center ;
        flex-direction: row-reverse;
        gap: 5em;
      }
      .competence ul {
        
        flex-wrap: nowrap;
        padding: 3em;
      }
      .competence img {
        width: 80%;
      }
      .logo-name {
        visibility: hidden;
        transition: visibility 0s, opacity 0.5s ease;
      }
      .competence li:hover .logo-name {
        visibility: visible;
        opacity: 1;
      }
      .carousel-inner {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .project img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
      }

      
        button {
        width: 250px;
        height: 70px;
        margin: auto;
        margin-top: 30px;
        background-color: #2e345d;
        color: #f5f5f5;
        border-radius: 5px;
        transition: transform 0.5s, box-shadow 0.5s;
        cursor: pointer;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        
        }
        button:hover {
        background-color: #a8b0c4;
        color: black;
        transform: translateY(-2px);
        box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
        
        }
        
        button:active {
            transform: translateY(5px);
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
        }
        .social-links {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end; 
          gap: 5em;
        }
        .social-links a {
          padding: 1em 1em;
          border-radius: 5px;
        }

        .navigation-footer {
          margin-top: 15rem;
        }
    }








 
























 



